h1{
    color: black;
    text-align: center;

}
.profile{
    width: 200px;
    height: 180px;
    border-radius: 40px;
}
.twitter{
    
    color: aqua;
}
.gmail{
    color: black;
}
.ig{
    color: darkmagenta;
}
.facebook{
    color: aqua;
}